
body{
	margin: 0;
	padding: 0;
}

.container{
	
	display: grid;
	justify-content: center;


}

.labels{

	border:1px solid blue;
	height: 300px;
	width:350px;
	padding-top: 25px;
	padding-left: 50px;
	display: grid;
	grid-template-columns: 35% 1fr;
	grid-template-rows: repeat(4,1fr);

}

.labels label{
	font-size: 20px;

}

#latlabel{
	display: inline;
	color:blue;
	font-size: 20px;
	padding: 0px 0px 10px 0px;
	margin:20px;
}

#lati{
	color:red;
	font-size: 20px;
	background: white;
}

#longlabel{
	display: inline;
	color:blue;
	font-size: 20px;
	padding: 0px 0px 10px 0px;
	margin:10px;
}

#long{
	color:red;
	font-size: 20px;
	background: white;
}

#fechalabel{
	display: inline;
	color:blue;
	font-size: 20px;
	margin:18px;
	padding: 0px 0px 50px 0px;
}

#date{
	color:red;
	font-size: 20px;
	background: white;
}

#horalabel{
	display: inline;
	color:blue;
	font-size: 20px;
	padding: 0px 0px 50px 0px;
	margin:23px;
}

#hour{
	color:red;
	font-size: 20px;
	background: white;
}

#issMap{
	margin-top: 20px;
	margin-left: 450px;

	width: 600px;
	height: 420px;
	margin-top: 15px:
}

